body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background: linear-gradient(-45deg, #f83b01, #d4dd2c, #2370d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.center-square-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.center-square-message {
    margin-bottom: 20px;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.category-button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 calc(50% - 20px); /* Responsive layout */
}

.yellow {
    background-color: #ffff00;
    color: black;
}

.red {
    background-color: #ff3333;
    color: white;
}

.blue {
    background-color: #00ffff;
    color: black;
}

.green {
    background-color: #33ff33;
    color: black;
}
