body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background: linear-gradient(-45deg, #f83b01, #d4dd2c, #2370d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pop3{
    z-index: 15;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    padding-top: 70px;
    width: 900px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid black;
    font-size: 30px;
    gap: 10px;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}



.finalButton {
    grid-column: 2/3;
    grid-row: 4/5;
}


#gameWinner {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 60px;
    font-weight: bold;
    animation: rainbow 8s linear infinite;

}

#gameStats {
    grid-column: 1/4;
    grid-row: 2/4;
    font-size: 5px;
    white-space: pre;
    font-size: 26px;
    text-align: left;
    overflow-y: scroll;
    max-height: 200px;
}



.pop2{
    z-index: 15;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    padding-top: 70px;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid black;
    font-size: 30px;
    gap: 10px;
}

.centerSqareText {
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 30px;
}

.pop2 .catq1{
    grid-column: 1;
    grid-row: 2;
    background-color: yellow;
    color: black;
}

.pop2 .catq2 {
    grid-column: 2;
    grid-row: 2;
    background-color: red;
}
.pop2 .catq3{
    grid-column: 1;
    grid-row: 3;
    background-color: blue;
}
.pop2 .catq4 {
    grid-column: 2;
    grid-row: 3;
    background-color: green;
}


.pop {
    z-index: 15;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    padding-top: 30px;
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid black;
    font-size: 30px;
}
.questionDisplay {
    grid-column: 1/3;
    grid-row: 2/3;
}

.compareAnswer {
    grid-column: 1/3;
    grid-row: 4/5;
}
.realAnswer{
    grid-column: 1/3;
    grid-row:5/6;
}

.correctButton{
    grid-column: 1;
    grid-row: 6/7;
}
.incorrectButton{
    grid-column: 2;
    grid-row: 6/7;

}

.questionAnswer{
    grid-column: 1/3;
    grid-row: 3/4;
}
.revealButton{
    grid-column: 1/3;
    grid-row: 5/6;
}


button:disabled {
    background-color: #44a028;
    cursor: not-allowed;
    color: #44a028;
}

.hidden {
    display: none;
}


.game-container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 2px;
    border: 2px solid white;
    width: 600px;
    height: 600px;
}


.scoreYellow {
    background-color: #ffff00;
}

.scoreBlue {
    background-color: #00ffff;
}

.scoreRed {
    background-color: #ff3333;
}

.scoreGreen {
    background-color: #33ff33;
}

.YELLOW {
    background-color: #ffff00;
    border: 3px solid black;
    position: relative;
}

.BLUE {
    background-color: #00ffff;
    border: 3px solid black;
    position: relative;
}

.RED {
    background-color: #ff3333; /* Even brighter red */
    border: 3px solid black;
    position: relative;
}

.GREEN {
    background-color: #33ff33; /* Even brighter green */
    border: 3px solid black;
    position: relative;
}


.WHITE {
    background-color: transparent; /* 100% transparent */
    border: 1px solid transparent;
    position: relative;
}

.ROLL_AGAIN {
    background-color: #d3d3d3; /* Grey color */
    border: 3px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.direction {
    background-color: #44a028;
    border-radius: 5px;
    color: white;
}


.HQ {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}


.CENTER {
    background-color: #d3d3d3; /* Grey color */
    border: 3px solid black;
    position: relative;
}


.player-piece {
    z-index: 12;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

#player1_token {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: red;
    border: 3px solid white;
}

#player2_token {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: yellow;
    border: 3px solid white;
}

#player3_token {
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: green;
    border: 3px solid white;
}

#player4_token {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: blue;
    border: 3px solid white;
}

.game-info {
    text-align: left;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#current-player {
    font-size: 18px;
    margin-bottom: 20px;
}

#dice {
    width: 62px;
    height: 60px;
  
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}


.categoryBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px;
    border: 2px solid white;
    width: 70px;
    width: 100%;
    height: 70px;

}

.categoryBox > div {
    border: 2px solid black; /* Border for individual cells */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    text-align: center; /* Center text inside each cell */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
    overflow-wrap: break-word; /* Allow long words to wrap */
    word-wrap: break-word; /* Older syntax for text wrapping */
    font-size: 12px;
    height: 50px;
}


.player1_score {
    background-color: white; /* Grey color */
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative; /* Establishes a positioning context for the pseudo-element */
}

.player1_score:before {
    content: "";
    position: absolute; /* Absolute positioning relative to .player1_score */
    top: -30px; /* Adjust these values to position the border */
    right: -30px;
    bottom: -30px;
    left: -30px;
    border: 5px solid red; /* Border styling */
    background-color: transparent; 
    z-index: 1;
    box-sizing: border-box; 
}

.player2_score {
    background-color: white; /* Grey color */
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative; /* Establishes a positioning context for the pseudo-element */
}

.player2_score:before {
    content: "";
    position: absolute; /* Absolute positioning relative to .player1_score */
    top: -30px; /* Adjust these values to position the border */
    right: -30px;
    bottom: -30px;
    left: -30px;
    border: 5px solid yellow; /* Border styling */
    background-color: transparent; 
    z-index: 1;
    box-sizing: border-box; 
}

.player3_score {
    background-color: white; /* Grey color */
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative; /* Establishes a positioning context for the pseudo-element */
}

.player3_score:before {
    content: "";
    position: absolute; /* Absolute positioning relative to .player1_score */
    top: -30px; /* Adjust these values to position the border */
    right: -30px;
    bottom: -30px;
    left: -30px;
    border: 5px solid green; /* Border styling */
    background-color: transparent; 
    z-index: 1;
    box-sizing: border-box; 
}

.player4_score {
    background-color: white; /* Grey color */
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    position: relative; /* Establishes a positioning context for the pseudo-element */
}

.player4_score:before {
    content: "";
    position: absolute; /* Absolute positioning relative to .player1_score */
    top: -30px; /* Adjust these values to position the border */
    right: -30px;
    bottom: -30px;
    left: -30px;
    border: 5px solid blue; /* Border styling */
    background-color: transparent; 
    z-index: 1;
    box-sizing: border-box; 
}

.scoreDisplay{
    border: 1px solid black;
}