body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #f83b01, #d4dd2c, #2370d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Header styles */
h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 2rem;
    font-weight: bold;
    font-family: 'Bangers', cursive, Arial, sans-serif;
    color: var(--text-color);
}

.container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.player-config {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;

}

.category-config {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;

}

.btn-fixed {
    width: 150px;

}

button {
    margin: 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}
