body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background: linear-gradient(-45deg, #f83b01, #d4dd2c, #2370d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.question-pop-up {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.question-category {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.question-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.question-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.question-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.correct-button {
    background-color: #4CAF50;
    color: white;
}

.incorrect-button {
    background-color: #f44336;
    color: white;
}

.close-pop-up {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}
